.composite-cck-preview {
  /**float:left;*/ /** LTR */
}

.composite-cck-preview .composite-cck-close {
  text-align:center;
  font-size:10px;
}

.form-item-formatter .progress-disabled {
  float:none;
}
.node-form .text {
width:86%;
}
